server:
  port: 8080

spring:
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:h2:mem:babyshop;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console

